@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&family=Alegreya:ital@0;1&display=swap');

.h1Char{
    font-family: 'Alegreya SC', serif;
}
.h2Char{
    font-family: 'Alegreya SC', serif;
}
.h3Char{
    font-family: 'Alegreya SC', serif;
}
.h4Char{
    font-family: 'Alegreya SC', serif;
}
.h5Char{
    font-family: 'Alegreya SC', serif;
}

.pItalicsChar{
    font-family: 'Alegreya', serif;
}
.pChar{
    font-family: 'Alegreya', serif;
}